@import '../base.sass'
  
.page__sign
    text-align: center
    // background: pink
    display: flex 
    justify-content: center
    flex-direction: column
    align-items: center
    h3
        margin-top: 2.25em
    p
        margin-bottom: 1.25em
        margin-top: 2em
        max-width: 85%
        text-align: center
    hr
        margin: auto
        width: 20%
        background: lightgrey
        border: 0
        height: 1px
