@import '../base.sass'


#mc_embed_signup
    width: 100%
    // background: teal
    form
        display: flex
        justify-content: center
        width: 100%
        margin-bottom: 4.5em
        // background: lightseagreen
        label
          height: 100% 
        #mc_embed_signup_scroll
            display: flex
            width: 50%
            @include tablet
              width: 80%
            .mc-field-group
                width: 100%
            input
              &[type="submit"], &[type="email"]
                height: 100%
                font-size: 0.9em
                margin: 0
                &[type="submit"]
                    background: $accent
                    padding: 3px 35px
                    color: white
                    line-height: 1em
                    border-radius: 0
                    border-top-right-radius: 1.3rem
                    border-bottom-right-radius: 1.3rem
                    border-top-left-radius: 0
                    border-bottom-left-radius: 0
                    @include phone-large
                        padding: 3px 20px

                &[type="email"]
                    padding: 2px 0px 2px 9px
                    width: 100%
                    border: 1px solid $accent
                    border-radius: 0
                    border-top-left-radius: 1.3rem
                    border-bottom-left-radius: 1.3rem
