@import '../base.sass'

#mc_embed_signup
    width: 100%
    // background: teal
    form
        display: flex
        justify-content: center
        width: 100%
        margin-bottom: 4.5em
        // background: lightseagreen 
        #mc_embed_signup_scroll
            display: flex
            width: 50%
            .mc-field-group
                width: 100%
            input
              &[type="submit"], &[type="email"]
                height: 85%
                font-size: 0.9em
                &[type="submit"]
                    background: $accent
                    padding: 10px 35px
                    color: white
                    line-height: 1em
                    border-top-right-radius: 1.3rem
                    border-bottom-right-radius: 1.3rem
                &[type="email"]
                    padding: 10px
                    width: 100%
                    border: 1px solid $accent
                    border-top-left-radius: 1.3rem
                    border-bottom-left-radius: 1.3rem
