@import '../vars.sass'
.notification
    display: flex
    justify-content: center
    transition: all .75s ease-in-out
    transform: translateY(-100%)
    background: $accent
    color: white
    &__text
        width: 100%
        display: flex
        justify-content: center
        padding: .9em 0
        font-size: .92em
        line-height: 1.15em
        max-width: 950px
        text-align: center
        @include edgesnap 
          max-width: 85%
        // @include ipad 
          // width: 90%
        @include phone-large
          line-height: 1.25em
    // &__close
    //     display: flex
    //     position: relative
    //     background: red
    //     padding: 1.5em 0em
    //     width: 20px
    //     img 
    //       background: red
    //       height: 100%
    //       display: none
    //     button
    //         position: absolute
    //         right: 1em
.filler
    transition: all .75s ease-in-out
    height: 0em


.notifi-enter
.notifi-enter-active
    .filler
        height: 2em

.notifi-enter-done
    .notification
        transform: translateY(0%)
    .filler
        height: 0em

.notifi-exit
    .notification
        transform: translateY(-100%)

.notifi-exit-active
    .filler
        height: 2em
.notifi-exit-done
    .filler
        height: 0em 


    