@import "../base.sass"
  
.wraper
    display: flex
    .contact
        // background: teal
        display: flex
        justify-content: space-between
        border: 1px solid $accent
        padding: 50px
        // margin: 100px 0
        @include tablet-phone 
            flex-direction: column
            padding: 20px
        hr
            background: $accent
            border: 0
            width: 1px
            @include tablet-phone 
                height: 1px
                width: 100%
                margin: 20px 0
        &__info
            width: 40%
            display: flex
            flex-direction: column
            @include tablet-phone 
                width: 100%
            p
                text-align: center
                margin: 5px
            &__email
                a
                    color: $accent
        &__form
            width: 55%
            // background: seagreen
            display: flex
            @include tablet-phone 
                width: 100%
            form
                width: 100%
                // background: coral
                display: flex
                flex-direction: column    
                input
                    border: none
                    border-bottom: 1px solid #000
                    border-radius: 0px
                textarea
                    resize: none
                button
                    align-self: flex-end
                    border: 1px solid black 
                    border-radius: 1.2rem
                    padding: 5px 25px
    .pageimage
        width: 50%
        align-self: center