.wraper
    .sponsers
        text-align: center
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        h3
            display: flex
            width: 100%
            justify-content: center
        &__single
            display: flex
            justify-content: center
            width: 15%
            align-items: center
            &__image
                width: 70%
    .bio
        display: flex
        justify-content: space-between
        &__info
            display: flex
            flex-direction: column
            justify-content: space-between
            text-align: right
            width: 68%
            &__title
                margin-top: 50px
                h4
                    margin-top: 15px
        &__image
            width: 30%
.program__overview
    display: flex
    // justify-content: space-between
    background: mintcream
    &__card
        margin: 30px 0
        // width: calc(100vw / 1.8 - 550px)
        width: calc(1100px / 2.1)
        // background: teal
        padding: 100px 50px
        display: flex
        flex-direction: column
        h4
            margin: 10px 0
            color: gold
        p
            flex: 1
        &__info 
            margin-bottom: 10px
            justify-self: flex-end
            justify-content: space-between
            display: flex
            h4
                color: gold
    &__image
        width: 50%
