@import "../base.sass"
.wrapper
    .pageinfo
        text-align: center
        h2
            margin-bottom: .8em
            margin-top: 1.5em
            opacity: 0
            transform: translateY(20%)
            transition: all 1s ease-in-out
            &.loaded 
              opacity: 1
              transform: translateY(0%)
        .gallery__text
          display: flex
          text-align: center
          justify-content: center
          margin-bottom: 50px
          opacity: 0
          transition: all 1s ease-in-out
          &.loaded 
            opacity: 1
        hr.photo__hr
            margin: auto
            width: 0%
            background: #cdccca
            border: 0
            height: 1px
            transition: all .5s ease-in-out
            &.loaded
              width: 20%
    .photos
        display: flex
        flex-wrap: wrap
        // flex-direction: column-reverse
        flex-direction: row-reverse
        justify-content: space-between
        opacity: 0
        transition: all 1s ease-in-out
        &.loaded 
          opacity: 1
        &__single
            // display: fle
            width: 23%
            margin-bottom: 25px
            @include navsnap
                width: 48%
.dialog
    padding: 2px !important
.light
    // display: flex
    // // &__image
    // //     width: 100%
    &__image
        
    button
        // align-self: flex-start
        // width: 0
        // height: 0
        // background: teal
        border: 1px solid $accent
        padding: 2px 15px
        margin: 7px
        // margin-bottom: 0
        border-radius: 2rem
        color: $accent


.ReactModalPortal
  .ReactModal__Overlay, .ReactModal__Overlay--after-open
    z-index: 9998 !important
    .ReactModal__Content, .ReactModal__Content--after-open
      .ril-outer, .ril__outer, .ril__outerAnimating  
        .ril-inner, .ril__inner
          img 
            z-index: 9999 !important