.wraper
    .pageinfo
        text-align: center
        h3
            margin-top: 80px
            margin-bottom: 30px
        p
            margin-bottom: 50px
        hr
            margin: auto
            width: 20%
            background: #cdccca
            border: 0
            height: 1px
    .photos
        margin-top: 50px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        &__single
            // display: fle
            width: 23%
            margin-bottom: 25px