.team
    display: flex
    flex-direction: column-reverse
    &__mem
        display: flex
        flex-direction: row
        &__bio
            width: 70%
            &__name
                color: #9e948b
                display: flex
                a
                    padding: 0 10px 
                    path
                        fill: #747474
        &__img
            width: 30%   