.team
    display: flex
    flex-direction: column-reverse
    &__mem
        display: flex
        flex-direction: row
        padding-top: 50px
        padding-bottom: 80px
        justify-content: space-between
        border-bottom: 1px solid #000  
        &:first-child
            border-bottom: none
    
        &__bio
            width: 65%
            &__name
                color: #9e948b
                display: flex
                a
                    padding: 0 10px 
                    path
                        fill: #747474
            p
                padding-top: 15px
                color: #686868
        &__img
            width: 30%   